<html>
    <head>
        <title>Artist Plays</title>
    </head>
    <body>
        <h1>Artist Plays</h1>
        <form action="{{url_for('findArtistPlays')}}" method="POST">
            <label for="artist_name">Enter a artist name:</label>
            <input type="text" id="artist_name" name="artist_name"><br>
            <input type="submit" value="Search">
        </form>
        <br>
        <table>
            <tr>
                <th>Artist</th>
                <th>Plays</th>
            </tr>
            {% for artist, count in topSongs %}
            <tr>
                <td>{{ artist }}</td>
                <td>{{ count }}</td>
            </tr>
            {% endfor %}
        </table>
        <!-- add a button to return to the homepage -->
        <form action="{{url_for('home')}}" method="get">
            <input type="submit" value="Return to Homepage">
        </form>
    </body>
</html>
